force-app/main/default/flows/Calculate_Total_Absent_Hours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Sum_Absent_Hours</name>
        <label>Sum Absent Hours</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>TotalAbsentHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Timesheets.dbt__Absence_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Timesheets</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>EndOfYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 12, 31)</expression>
    </formulas>
    <formulas>
        <name>StartOfYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 1, 1)</expression>
    </formulas>
    <interviewLabel>Calculate Total Absent Hours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Total Absent Hours</label>
    <loops>
        <name>Loop_Through_Timesheets</name>
        <label>Loop Through Timesheets</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Timesheet_Records_for_Current_Year</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Absent_Hours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Current_Timesheet_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Timesheet_Records_for_Current_Year</name>
        <label>Get Timesheet Records for Current Year</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Timesheets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dbt__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dbt__Employee__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>dbt__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>dbt__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>EndOfYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>dbt__Timesheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Timesheet_Record</name>
        <label>Update Current Timesheet Record</label>
        <locationX>176</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Total_Absence_Hours__c</field>
            <value>
                <elementReference>TotalAbsentHours</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Timesheet_Records_for_Current_Year</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dbt__Absence_Hours__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>dbt__Timesheet__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TotalAbsentHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
