force-app/main/default/flows/Sending_Anniversary_Wishes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sending_Anniversary_Mail</name>
        <label>Sending Anniversary Mail</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>doddarajitha303@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>doddarajitha303@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Anniversary Wishes</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SendingAnniversaryMail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bccRecipientAddressList</name>
            <value>
                <stringValue>doddarajitha303@gmail.com</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Comparing_Dates</name>
        <label>Comparing Dates</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CheckingstartDatedayMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CheckingstartDatedayMonth</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sending_Anniversary_Mail</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckingstartDatedayMonth</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!$Record.Start_Date__c})) &amp; &quot;-&quot; &amp; TEXT(DAY({!$Record.Start_Date__c}))</expression>
    </formulas>
    <formulas>
        <name>CheckingTodayDateMonth</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY())) &amp; &quot;-&quot; &amp; TEXT(DAY(TODAY()))</expression>
    </formulas>
    <interviewLabel>Sending Anniversary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sending Anniversary Wishes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Comparing_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-01-22</startDate>
            <startTime>06:25:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SendingAnniversaryMail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.FirstName},&lt;/p&gt;&lt;p&gt;Congratulations on your work anniversary! Your dedication and hard work inspire us every day.&lt;/p&gt;&lt;p&gt;Here&apos;s to another year of success.&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;</text>
    </textTemplates>
</Flow>
