force-app/main/default/flows/Staff_Anniversary_Sending_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Staff_Anniversary</name>
        <label>Staff Anniversary</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Happy Work Anniversary</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Get_Staff_Records.Commencement_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Staff_Records.Email</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>StaffAnniversaryRecords</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) = DAY({!$User.Commencement_Date__c}) &amp;&amp;
MONTH(TODAY()) = MONTH({!$User.Commencement_Date__c})</expression>
    </formulas>
    <interviewLabel>Staff Anniversary Sending Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Staff Anniversary Sending Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Staff_Records</name>
        <label>Get Staff Records</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Staff_Anniversary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Commencement_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Staff_Records.Commencement_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Staff_Records</targetReference>
        </connector>
        <object>User</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-01-21</startDate>
            <startTime>06:50:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
