force-app/main/default/flows/Vacation_Testing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Employee_Email</name>
        <label>Send Employee Email</label>
        <locationX>264</locationX>
        <locationY>1524</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Iterate_through_Employees</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Iterate_through_Employees.dbt__User__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Hello</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Vacation Limit Exceed</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Added_Value</name>
        <label>Assign Added Value</label>
        <locationX>484</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>Add</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DurationVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Timesheets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Ids</name>
        <label>Collect Ids</label>
        <locationX>396</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>EmpId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Employees.dbt__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Accrued_Vacation_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Absence_Duration</name>
        <label>Get Absence Duration</label>
        <locationX>484</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>DurationVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DurationVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Timesheets.dbt__Absence_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Added_Value</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Respective_Employee_Time_Sheets</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Respective Employee Time Sheets</label>
        <locationX>396</locationX>
        <locationY>792</locationY>
        <assignNextValueToReference>currentItem_Get_Respective_Employee_Time_Sheets</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Timesheet_LineItems</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Respective_Employee_Time_Sheets.dbt__Employee__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_through_Employees.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_through_Timesheets</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Accrued_Vacation_Days</name>
        <label>Check Accrued Vacation Days</label>
        <locationX>396</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Employees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DurationToDay</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Metadata_Type.dbt__Accrued_Vacation_Days__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>DurationToDay</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_through_Employees.dbt__No_of_Vacations_Taken__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Employee_Email</targetReference>
            </connector>
            <label>Exceeded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DurationToDay</name>
        <dataType>Number</dataType>
        <expression>{!Add} / {!Get_Metadata_Type.dbt__Working_Hours_Per_Day__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EndOfYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 12, 31)</expression>
    </formulas>
    <formulas>
        <name>StartOfYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 1, 1)</expression>
    </formulas>
    <interviewLabel>Vacation Testing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vacation Testing</label>
    <loops>
        <name>Iterate_through_Employees</name>
        <label>Iterate through Employees</label>
        <locationX>176</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_Employee</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Respective_Employee_Time_Sheets</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Iterate_through_Timesheets</name>
        <label>Iterate through Timesheets</label>
        <locationX>396</locationX>
        <locationY>900</locationY>
        <collectionReference>Get_Timesheet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Absence_Duration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collect_Ids</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Employee</name>
        <label>Get Employee</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timesheet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dbt__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>dbt__Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata_Type</name>
        <label>Get Metadata Type</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Employees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default_Values</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dbt__Timesheet_Default_Value__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheet</name>
        <label>Get Timesheet</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timesheet_LineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dbt__Start_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartOfYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>dbt__Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>EndOfYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>dbt__Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.dbt__Employee__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>dbt__Timesheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheet_LineItems</name>
        <label>Get Timesheet LineItems</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Metadata_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>dbt__Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sick Leave</stringValue>
            </value>
        </filters>
        <filters>
            <field>dbt__Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTO-Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>dbt__Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTO-Un Planned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>dbt__Timesheet_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employee</targetReference>
        </connector>
        <object>dbt__Timesheet__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-12-06</startDate>
            <startTime>01:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Add</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_Get_Respective_Employee_Time_Sheets</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>dbt__Timesheet_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>DurationVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>EmpId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
