force-app/main/default/flows/Vaccation_Limit_STF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Employee_Email_Alert</name>
        <label>Employee Email Alert</label>
        <locationX>264</locationX>
        <locationY>1200</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Iterate_through_Employees</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Iterate_through_Employees.null__NotFound.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Vacation Limit Exceeded</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emp_Email_Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Get_Absence_Duration</name>
        <label>Get Absence Duration</label>
        <locationX>484</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>Duration_Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Duration_Var</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_through_Timesheets.null__NotFound</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_Timesheets</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Respective_Employee_Time_Sheets</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Respective Employee Time Sheets</label>
        <locationX>396</locationX>
        <locationY>684</locationY>
        <assignNextValueToReference>currentItem_Get_Respective_Employee_Time_Sheets</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Timesheets</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Respective_Employee_Time_Sheets.dbt__Employee__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Iterate_through_Employees.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_through_Timesheets</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Check_Accrued_Vacation_Days</name>
        <label>Check Accrued Vacation Days</label>
        <locationX>396</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Iterate_through_Employees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Dur_to_Day_Conv</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Metadata_Type.dbt__Accrued_Vacation_Days__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Dur_to_Day_Conv</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_through_Employees.null__NotFound</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Employee_Email_Alert</targetReference>
            </connector>
            <label>Exceeded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CheckingCurrentYear</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Dur_to_Day_Conv</name>
        <dataType>Number</dataType>
        <expression>{!Duration_Var} / {!Get_Metadata_Type.dbt__Working_Hours_Per_Day__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EndOfYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 12, 31)</expression>
    </formulas>
    <formulas>
        <name>StartOfYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 1, 1)</expression>
    </formulas>
    <interviewLabel>Vaccation Limit STF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vaccation Limit STF</label>
    <loops>
        <name>Iterate_through_Employees</name>
        <label>Iterate through Employees</label>
        <locationX>176</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_Employees</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Respective_Employee_Time_Sheets</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Iterate_through_Timesheets</name>
        <label>Iterate through Timesheets</label>
        <locationX>396</locationX>
        <locationY>792</locationY>
        <collectionReference>Get_Respective_Employee_Time_Sheets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Absence_Duration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Accrued_Vacation_Days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Employees</name>
        <label>Get Employees</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Timesheets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>dbt__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>dbt__Employee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Metadata_Type</name>
        <label>Get Metadata Type</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_through_Employees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default_Values</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>dbt__Timesheet_Default_Value__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Timesheets</name>
        <label>Get Timesheets</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Metadata_Type</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>dbt__Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sick Leave</stringValue>
            </value>
        </filters>
        <filters>
            <field>dbt__Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTO-Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>dbt__Absence_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PTO-Un Planned</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>dbt__Timesheet_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employees</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-12-06</startDate>
            <startTime>00:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>InvalidDraft</status>
    <textTemplates>
        <name>Emp_Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!Iterate_through_Employees.null__NotFound}.
You have exceeded your vacation limit.
Allotted vacation leave : {!Get_Metadata_Type.dbt__Accrued_Vacation_Days__c}
No. Of Vacation Taken : {!Dur_to_Day_Conv}

Thanks,
System Admin</text>
    </textTemplates>
    <variables>
        <name>currentItem_Get_Respective_Employee_Time_Sheets</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>dbt__Timesheet_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Duration_Var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
